@font-face {
    font-family: myDigitalFont;
    src: url(/fonts/lcd-att-phone-timedate_woff/LCDAT&TPhoneTimeDate.woff);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#4fcaf0fb, #faf9f9a1, #e75e75bb, #ffffffad, #008000c5), url('/images/trophybkg.jpg');
    width: 100%;
    height: 120vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.select-container {
    position: relative;
    border: 0.2rem solid skyblue;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.select-ctn {
    display: flex;
    justify-content: center;
    position: relative;    
}

.select-box {
    appearance: none;
    box-shadow: none;
    overflow: hidden;
    background: transparent;
    padding: 0.2rem 1rem;
}

.icon-container {
    position: absolute;
    right: 0;

}

.select-box:focus {
    background-color: #94d2bd;
    color: black;
}

.option:focus {
    background-color: blueviolet;
}

.league-name-el {
    position: relative;
    background: linear-gradient(to right, #b61203a1, #e4393ed2, #b61203a1 );
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.league-end-el {
    position: relative;
    background: linear-gradient(to right, #b61203a1, #e4393ed2, #b61203a1 );
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.league-name-el::before {
    position: absolute;
    content: '';
    background: linear-gradient(grey, white, darkgrey, black, grey, black, grey, white);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3rem;
    margin: -8px;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: -1;
}

.league-end-el::before {
    position: absolute;
    content: '';
    background: linear-gradient(grey, white, darkgrey, black, grey, black, grey, white);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3rem;
    margin: -8px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    z-index: -1;
}



.vs-container {
    background: radial-gradient(circle at 100% 100%, rgba(48,48,48,0) 0, rgba(48,48,48,0) 24px, transparent 24px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, rgba(48,48,48,0) 0, rgba(48,48,48,0) 24px, transparent 24px) 100% 100%/30px 30px no-repeat,
            linear-gradient(2deg, #bbaaaa 6%, #ffffff 13%, #545454 19%, #292929 28%, #fcfcfc 36%, rgba(255,255,255,0.96) 45%, rgba(66,64,64,0.89) 51%, #dddddd 58%, #cfcfcf 82%, #a5a3a3 95%);
    border-radius: 30px;
    padding: 16px 4px;
    box-sizing: border-box;
}


#vs-el {
    background: radial-gradient(circle at 100% 100%, rgba(48,48,48,0) 0, rgba(48,48,48,0) 24px, transparent 24px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, rgba(48,48,48,0) 0, rgba(48,48,48,0) 24px, transparent 24px) 100% 100%/30px 30px no-repeat,
            linear-gradient(2deg, #bbaaaa 6%, #ffffff 13%, #545454 19%, #292929 28%, #fcfcfc 36%, rgba(255,255,255,0.96) 45%, rgba(66,64,64,0.89) 51%, #dddddd 58%, #cfcfcf 82%, #a5a3a3 95%);
    padding: 4px 2px;
}


#inner-vs-el {
    background: radial-gradient(
    circle farthest-corner at center center,
    #be0101,
    #333
  ) no-repeat;
  background-size: cover;
}

.glassy-background {
    z-index: 30;
    position: relative;
    background: linear-gradient(to top, #fc858575, #ffffff36, #7272fa86);
}

.glassy-background::before {
    content: "";
    background: linear-gradient(#ffffff07, #8080803b, #0000001a, #ffffff3a, #8080803b,#0000002d);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    margin: -0.2rem;
    z-index: 20;
}


.home-team-score, .away-team-score {
    position: relative;
    background: linear-gradient(to top, #5ccbf7bd, #cccccce5, #fa7b7bc2);
    font-family: myDigitalFont;
    background: -webkit-linear-gradient(right, #4ecdff, #ffffffbd, #25b9f3, #ffffffbd, #4ecdff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 30;
}


.home-team-score::before, .away-team-score::before {
    content: "";
    background: linear-gradient(#00000073, #47474769, #9b9b9b60, #ffffff3a, #8080803b,#0000002d);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    margin: -0.2rem;
    z-index: 20;
}

.score-display-container {
    position: relative;
    z-index: 40;
    background: linear-gradient(to top, #3f396123, #46272736);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.time-lapse-container {
    position: relative;
    background: linear-gradient(310deg ,#acfcac,#4cf34c, #acfcac,#4cf34c, #acfcac,#4cf34c, #acfcac,#4cf34c, #acfcac,#4cf34c);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.home-tag {
    transform: rotate(310deg);
    color: rgb(253, 80, 80);
}

.away-tag {
    transform: rotate(40deg);
    color: rgb(51, 51, 250);
}


.time-line {
    position: absolute;
    background-color: white;
    width: 6rem;
    height: 8rem;
    z-index: 20;
    clip-path: polygon(55% 0, 56% 2%, 47% 100%, 44% 100%);
}


.time-lapse {
    position: absolute;
    background-color: #00aeffb6;
    width: 8rem;
    height: 8rem;
    clip-path: ellipse(33% 12% at 50% 49%);
    z-index: 40;
}

.time-lapse-border {
    position: absolute;
    background-color: white;
    width: 8rem;
    height: 8rem;
    clip-path: ellipse(34% 13% at 50% 50%);
    z-index: 30;
}


#timer {
    position: absolute;
    top: 76%;
    font-family: myDigitalFont;
    background-color: transparent;
    width: 10rem;
    height: 3rem;
    color: red;
    font-size: xx-large;
    font-weight: 800;
    z-index: 50;
}

@media screen and (min-width: 768px) {
    body{
        background-size: cover;
        height: 100vh;
    }
}
